<div {{ attributes }} class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="{{ data[0] ~ '-list' }}">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            {% for field in fields %}
                <th scope="col" class="px-6 py-3">
                    {{ field|capitalize }}
                </th>
            {% endfor %}
            <th scope="col" class="px-6 py-3"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {{ include('admin/_row.html.twig') }}
        {% endfor %}
        </tbody>
    </table>
</div>
