<form method="post" action="{{ path('app_admin_event_room_delete', {'id': row.id ?? entity.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ row.id ?? entity.id) }}">

    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
