<nav class="navbar navbar-expand-lg bg-body-tertiary" data-controller="sidebar">
    <div class="container-fluid">
        <button class="btn"  data-action="click->sidebar#toggleSidebar">
            {{ ux_icon('lucide:align-justify', { class: 'w-6 h-6' }) }}
        </button>
        <a class="navbar-brand" href="#">Multiculturele stichting Deventer</a>
        <div class="navbar-collapse position-fixed start-0 top-0 bottom-0 bg-light p-3" data-sidebar-target="nav" style="width: 250px; transform: translateX(-100%); transition: transform 0.3s ease;">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
        </div>
    </div>
</nav>