<header>
    <nav class="border-b-2 border-secondary">
        <div class="flex flex-wrap items-center justify-between mx-auto p-8 ">
            <a href="/" class="flex items-center">
{#                <img src="{{ asset('images/logo.svg') }}" class="h-8 mr-3" alt="Logo" />#}
                <span class="self-center text-2xl font-bold whitespace-nowrap text-primary">Multiculturele Stichting Deventer</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-gray-400 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col md:flex-row md:space-x-8 mt-4 md:mt-0">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-secondary hover:text-accent md:p-0">Home</a>
                    </li>
                    <li>
                        <a href="/activiteiten" class="block py-2 pl-3 pr-4 text-secondary hover:text-accent md:p-0">Activiteiten</a>
                    </li>
                    <li>
                        <a href="/over-ons" class="block py-2 pl-3 pr-4 text-secondary hover:text-accent md:p-0">Over ons</a>
                    </li>
                    <li>
                        <a href="/contact" class="block py-2 pl-3 pr-4 text-secondary hover:text-accent md:p-0">Contact</a>
                    </li>
                    <li>
                        <a href="/donate" class="block py-2 pl-3 pr-4 text-primary font-bold md:p-0">Doneer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
