{% extends 'admin/base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block main %}
    <div class="dark:bg-gray-900 text-gray-900 dark:text-white p-4">
        <h1 class="text-xl font-bold mb-4">Agenda</h1>
        <div id="agenda-holder"
             data-controller="agenda"
             data-agenda-events-url-value="{{ path('fc_load_events') }}">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}