{% extends 'admin/base.html.twig' %}

{% block main %}
    <div
            class="flex justify-between"
    >
        <h1 class="text-xl font-semibold text-white mb-4">Voyages</h1>

        <twig:Button
                tag="a"
                href="{{ path('app_admin_event_room_new') }}"
                data-turbo-frame="modal"
                class="flex items-center space-x-1 font-bold"
        >
            <span>New Voyage</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 inline" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M9 12h6" /><path d="M12 9v6" /></svg>
        </twig:Button>
    </div>

    {% component 'Admin:Datatable' with {
        data: event_rooms,
        fields: ['name'],
        route: 'app_admin_event_room'
    } %}
    {% endcomponent %}
{% endblock %}